.pav-verticalmenu{
	position: relative;	
}
.pav-verticalmenu .mega-group .caret {
  display: none;
}
.pav-verticalmenu .mega-col .mega-col-inner > ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.pav-verticalmenu .dropdown-submenu:hover .dropdown-menu {
  display: block;
}

.footer_copyright_payments {
    float: right;
    margin-top: 10px;
    margin-bottom: -5px;
    padding-top: 0;
    padding-left: 0;
}

.footer_copyright_payments li {
    display: inline-block;
    margin-right: 4px;
    width: 55px;
    line-height: 20px;
}